<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
          witdh: 100%;
          border-collapse: collapse;
        }

        .striped tr:nth-child(even) {
          background-color: #f2f2f2;
        }
    </style>
    <title>Inventorer</title>
</head>
<body>
<table>
    <tr>
        <td style="vertical-align: top;">
            <div th:replace="~{ fragments/sections/menu :: menu }"></div>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;
        </td>
        <td style="vertical-align: top; width: 100%;">
            <div th:replace="~{ 'fragments/pages/' + ${pageId} :: content }"></div>
        </td>
    </tr>
</table>

</body>
</html>